Wholesome_Auto_Quester/bin
Wholesome_Auto_Quester/obj
.vs
.git


packages
/Dependencies/*
/.idea/
Dependencies
/Db_To_Json/bin/Debug
/Db_To_Json/obj/Debug
/Db_To_Json/WoWDB/WoWDb335
/Db_To_Json/WoWDB/WoWDB335_ACore
